* {
  /* border: 2px solid red; */
}

/* login */
.container {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #121212;
  color: white;
}

.centered-form {
  background: linear-gradient(
    180deg,
    #222423 3.12%,
    rgba(33, 36, 34, 0.26) 100%,
    rgba(43, 45, 43, 0.01) 100%
  );
  box-shadow: 4px 8px 2px 2px rgba(10, 9, 9, 0.25);
  border-radius: 16px;
  z-index: 10;

  padding: 30px;
  display: flex;
  flex-direction: column;
}

.form-class {
  align-items: center;
  justify-content: center;
  /* padding-top: 70px; */
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 14px;
}
.form-label {
  font-weight: bold;
  margin-bottom: 10px;
}

.input-field {
  width: 30vw;
  height: 41px;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-left: 20px;

  outline: none;
  border: 1px solid black;
}

.login-btn2 {
  display: block;
  width: 32vw;
  padding: 1 0px;
  font-size: 19px;
  height: 60px;
  background-color: rgb(116, 113, 111);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 29px;
}
.web-cam {
  height: 220px;
}
.login-btn {
  display: block;
  width: 32vw;
  padding: 1 0px;
  font-size: 19px;
  height: 60px;
  background-color: rgb(218, 101, 47);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 29px;
}

button[type="submit"]:hover {
  background-color: rgb(236, 121, 34);
}
.captured-image {
  margin: 0 auto;
  height: 200px;
  width: 200px;
}
.textt {
  /* display: flex; */
  margin-top: 30px;
  font-size: 19px;
  display: block;
}

.link a {
  text-decoration: none;
  font-weight: 400;
  padding-left: 10px;
  color: rgb(218, 101, 47);
}

/* webcam */

.web-cam-page {
  display: flex;
  display: flex;
  width: 100vw;
  height: inherit;
  height: 100vh;
  background-color: #121212;
  color: white;
  flex-direction: row;
}
.capture {
  display: block;
  width: 20vw;
  font-size: 25px;
  height: 40vh;
  background-color: rgb(116, 113, 111);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  margin-left: 3vw;
  margin-top: 5vh;
}

.name {
  display: flex;
  font-size: 35px;
  height: 40vh;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
  margin-left: 10vw;
  margin-top: 5vh;
  flex-direction: row;
}
.captured-image2 {
  display: block;
  width: 20vw;
  font-size: 25px;
  height: 40vh;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  margin-left: 3vw;
  margin-top: 5vh;
}

.capture2 {
  display: block;
  width: 20vw;
  font-size: 25px;
  height: 10vh;
  background-color: rgb(116, 113, 111);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  margin-left: 3vw;
  margin-top: 5vh;
}

/* loading page */
.loading-page {
  display: flex;
  display: flex;
  width: 100vw;
  height: inherit;
  height: 100vh;
  background-color: #121212;
  color: white;
  text-align: center;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.para {
  text-align: center;
  margin: 4vw auto;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

/* dashboard */

.dashboard {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #121212;
  color: white;
  flex-direction: column;
  overflow-x: hidden;
}

.btnss {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10vh;
}

.log {
  display: block;
  width: 19vw;
  padding: 1 0px;
  font-size: 19px;
  height: 60px;
  background-color: rgb(218, 101, 47);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 29px;
}
.search-user-body {
  display: flex;
  margin-top: 5px;
  background: #151515;
  border: 3px solid rgb(37, 36, 36);
  border-radius: 20px;
  margin-bottom: 10vh;
}
.search-user-input {
  border: none;
  outline: none;
  /* position: fixed; */
  width: 78vw;
  height: 49px;
  background: #151515;
  border-radius: 18px;
  font-weight: 100;
  font-size: 19px;
  /* display: inline-block; */
  padding-left: 2vw;
  /* color: rgba(255, 255, 255, 0.8); */
  color: white;
}

.search-icon {
  margin-left: 2vw;
  width: 23px;
  align-items: center;
  /* margin: 0 auto; */
  cursor: pointer;
  background: transparent;
  background-color: transparent;
}

.logg {
  display: block;
  width: 9vw;
  padding: 1 0px;
  font-size: 19px;
  height: 60px;
  background-color: rgb(218, 101, 47);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 29px;
}
.dialog-class {
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  width: 30vw;
}

.form-class {
  display: flex;
  flex-direction: column;
}

.label-class {
  font-family: sans-serif;
  font-size: 20px;
}
.add {
  width: 10vw;
  height: 40px;
  background-color: rgb(236, 121, 34);
  color: black;
  cursor: pointer;
  margin-top: 20px;
  border: none;
}

/* products */

.product-grid {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}
.product-card {
  border: 1px solid #ccc;
  padding: 16px;
  margin: 16px;
  width: 250px;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

.btns {
  justify-content: space-around;
}
.add-to-cart {
  width: 4vw;
  height: 40px;
  background-color: rgb(236, 121, 34);
  color: black;
  cursor: pointer;
  margin-top: 20px;
  border: none;
}

.minus {
  width: 2vw;
  height: 40px;
  color: black;
  cursor: pointer;
  margin-top: 20px;
  border: none;
  font-weight: 900;
}
.plus {
  width: 2vw;
  height: 40px;
  color: black;
  cursor: pointer;
  margin-top: 20px;
  border: none;
  font-weight: 900;
}
.minus,
.add-to-cart,
.plus {
  margin: 0 3px;
}
.minus:hover {
  background-color: #ff5733;
  color: white;
}

.add-to-cart:hover {
  background-color: rgb(246, 145, 67);
  color: white;
  font-weight: 900;
}

.plus:hover {
  background-color: #4caf50;
  color: white;
}

/* cart page */

.cart-page {
  display: flex;
  /* width: 98vw; */
  min-height: 100vh;
  background-color: #121212;
  color: white;
  /* flex-direction: column; */
  overflow: hidden;
}
.productt-grid {
  list-style: none;
  display: flex;
  flex-direction: column;
  display: grid;
  grid-template-columns: repeat(3, 0.2fr);
  gap: 10px;
}
.cart-items {
  width: 80vw;
}
.price {
  background-color: rgb(26, 26, 26);
}
.price-table {
  width: 18vw;
  margin: 0 auto;
  border: 1px solid #ccc;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.price-table ul {
  list-style: none;
  color: black;
  padding: 0;
}

.bill-item {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

.product-name {
  font-weight: 6100;
}

.product-details {
  font-size: 15px;
  font-weight: 900;
}
.total {
  font-size: 30px;
  text-align: center;
  font-weight: bolder;
  color: rgb(100, 100, 100, 0.9);
}
