/* login */
.container {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
  background-color: #121212;
  color: white;
}

.centered-form {
  background: linear-gradient(
    180deg,
    #222423 3.12%,
    rgba(33, 36, 34, 0.26) 100%,
    rgba(43, 45, 43, 0.01) 100%
  );
  box-shadow: 4px 8px 2px 2px rgba(10, 9, 9, 0.25);
  border-radius: 16px;
  z-index: 10;

  padding: 30px;
  display: flex;
  flex-direction: column;
}

.form-class {
  align-items: center;
  justify-content: center;
  /* padding-top: 70px; */
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 14px;
}
.form-label {
  font-weight: bold;
  margin-bottom: 10px;
}

.input-field {
  width: 30vw;
  height: 41px;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-left: 20px;

  outline: none;
  border: 1px solid black;
}

.login-btn2 {
  display: block;
  width: 32vw;
  padding: 1 0px;
  font-size: 19px;
  height: 60px;
  background-color: rgb(116, 113, 111);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 29px;
}
.web-cam {
  height: 220px;
}
.login-btn {
  display: block;
  width: 32vw;
  padding: 1 0px;
  font-size: 19px;
  height: 60px;
  background-color: rgb(218, 101, 47);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 29px;
}

button[type="submit"]:hover {
  background-color: rgb(236, 121, 34);
}
.captured-image {
  margin: 0 auto;
  height: 200px;
  width: 200px;
}
.textt {
  /* display: flex; */
  margin-top: 30px;
  font-size: 19px;
  display: block;
}

.link a {
  text-decoration: none;
  font-weight: 400;
  padding-left: 10px;
  color: rgb(218, 101, 47);
}

/* webcam */

.web-cam-page {
  display: flex;
  display: flex;
  width: 100vw;
  height: inherit;
  height: 100vh;
  background-color: #121212;
  color: white;
  flex-direction: row;
}
.capture {
  display: block;
  width: 20vw;
  font-size: 25px;
  height: 40vh;
  background-color: rgb(116, 113, 111);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  margin-left: 3vw;
  margin-top: 5vh;
}

.name {
  display: flex;
  font-size: 35px;
  height: 40vh;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
  margin-left: 10vw;
  margin-top: 5vh;
  flex-direction: row;
}
